:root {
  --mob-origin-width: 150;
  --mob-grid-min-width: 96;
  --mob-ratio: calc(var(--mob-grid-min-width) / var(--mob-origin-width));
  --mob-grid-min-width-px: calc(var(--mob-grid-min-width) * 1px);
}

.mobs-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, minmax(var(--mob-grid-min-width-px), 1fr));
  gap: 16px;
  width: calc(var(--mob-grid-min-width) * 6px + 16px * 5);
  padding: 40px;
}

.source {
  background-image: url('./source.png');
  width: 147px;
  height: 194px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(var(--mob-ratio));
}

.mob {
  /* source: https://x.com/kochamhw */
  background-image: url('./mobs.png');

  /* background-size: 900px 900px; */

  position: relative;
  width: 100%;
  padding-bottom: 120%;
  background-size: 600% 500%;
}

/* 纏蛙 */
.chatacabra {
  background-position: 0% 0%;
}

/* 炎尾龍 */
.quematrice {
  background-position: 20% 0%;
}

/* 刺花蜘蛛 */
.lala-barina {
  background-position: 40% 0%;
}

/* 桃毛獸王 */
.congalala {
  background-position: 60% 0%;
}

/* 沙海龍 */
.balahara {
  background-position: 80% 0%;
}

/* 闢獸 */
.doshaguma {
  background-position: 100% 0%;
}

/* 波衣龍 */
.uth-duna {
  background-position: 0% 25%;
}

/* 沼噴龍 */
.rompopolo {
  background-position: 20% 25%;
}

/* 煌雷龍 */
.rey-dau {
  background-position: 40% 25%;
}

/* 影蜘蛛 */
.nerscylla {
  background-position: 60% 25%;
}

/* 風鋏龍 */
.hirabami {
  background-position: 80% 25%;
}

/* 赫猿獸 */
.ajarakan {
  background-position: 100% 25%;
}

/* 獄焰鱆 */
.nu-udra {
  background-position: 0% 50%;
}

/* 護闢獸 */
.guardian-doshaguma {
  background-position: 20% 50%;
}

/* 護火龍 */
.guardian-rathalos {
  background-position: 40% 50%;
}

/* 凍峰龍 */
.jin-dahaad {
  background-position: 60% 50%;
}

/* 護兇爪龍 */
.guardian-ebony-odogaron {
  background-position: 80% 50%;
}

/* 暗器鱆 */
.xu-wu {
  background-position: 100% 50%;
}

/* 護鎖刃龍 */
.guardian-arkveld {
  background-position: 0% 75%;
}

/* 白熾龍 */
.zoh-shia {
  background-position: 20% 75%;
}

/* 怪鳥 */
.yian-kut-ku {
  background-position: 40% 75%;
}

/* 毒怪鳥 */
.gypceros {
  background-position: 60% 75%;
}

/* 雌火龍 */
.rathian {
  background-position: 80% 75%;
}

/* 護雷顎龍 */
.guardian-fulgur-anjanath {
  background-position: 100% 75%;
}

/* 火龍 */
.rathalos {
  background-position: 0% 100%;
}

/* 鎧龍 */
.gravios {
  background-position: 20% 100%;
}

/* 雪獅子王 */
.blangonga {
  background-position: 40% 100%;
}

/* 黑蝕龍 */
.gore-magala {
  background-position: 60% 100%;
}

/* 鎖刃龍 */
.arkveld {
  background-position: 80% 100%;
}
